<div class="container overflow-hdn">
    <form class="login-form">
  <div class="row">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Employee Id">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>
  </div>
  <div class="row">
      <button mat-raised-button color="primary" (click)="logIn();" class="loginBtn">Login</button>
  </div>
</form>
</div>

 

  
